In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [23]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2021-07-31 00:56:20,-42.7826,147.0587,56.70,80,100,8.77
1,1,Hermanus,ZA,2021-07-31 00:54:11,-34.4187,19.2345,51.91,83,0,3.78
2,2,Peniche,PT,2021-07-31 00:56:20,39.3558,-9.3811,65.73,87,96,21.52
3,3,Asbestovskiy,RU,2021-07-31 00:56:21,57.7557,61.3967,55.74,95,100,3.74
4,4,Vao,NC,2021-07-31 00:56:21,-22.6667,167.4833,67.93,55,0,24.09

In [24]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## The general syntax for creating a heatmap is as follows.
1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
6. Call the figure to plot the data.
fig

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Google heatmaps do not plot negative numbers.
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 Â°F to a new list.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.
# Replace temps with our code for the list comprehension so our heat_layer code looks like the following:
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Adjust Heatmap Zoom, Intensity, and Point Radius
# First, add the geographic center of Earth in the form of latitude and longitude (30.0Â° N and 31.0Â° E). 
# Also, add a zoom level so that only one map of Earth is shown.

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# If you review the gmaps documentation, you may notice there is a dissipation option for creating heatmaps that can be added to the gmaps.heat_layer() attribute.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [35]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [36]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

# Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Khatanga,RU,2021-07-31 00:56:22,71.9667,102.5000,81.86,35,1,16.91
9,9,Pangai,TO,2021-07-31 00:56:23,-19.8000,-174.3500,78.91,83,75,9.22
13,13,Cockburn Town,TC,2021-07-31 00:56:25,21.4612,-71.1419,82.35,84,1,18.01
14,14,Kununurra,AU,2021-07-31 00:56:25,-15.7667,128.7333,80.58,61,0,4.61
22,22,Kapaa,US,2021-07-31 00:56:29,22.0752,-159.3190,85.98,70,10,3.00
25,25,Tondano,ID,2021-07-31 00:56:30,1.3038,124.9112,77.09,65,13,1.57
26,26,Aklavik,CA,2021-07-31 00:56:30,68.2191,-135.0107,76.03,45,100,11.43
28,28,Butaritari,KI,2021-07-31 00:56:31,3.0707,172.7902,80.33,78,74,5.64
30,30,Hilo,US,2021-07-31 00:56:32,19.7297,-155.0900,76.73,89,90,13.80
31,31,Lompoc,US,2021-07-31 00:56:32,34.6391,-120.4579,82.02,79,90,8.99

In [39]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame?
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [40]:
preferred_cities_df.notnull().sum()

City_ID       214
City          214
Country       214
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

In [41]:
preferred_cities_df.count()

City_ID       214
City          214
Country       214
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5        Khatanga      RU     81.86  71.9667  102.5000
9          Pangai      TO     78.91 -19.8000 -174.3500
13  Cockburn Town      TC     82.35  21.4612  -71.1419
14      Kununurra      AU     80.58 -15.7667  128.7333
22          Kapaa      US     85.98  22.0752 -159.3190
25        Tondano      ID     77.09   1.3038  124.9112
26        Aklavik      CA     76.03  68.2191 -135.0107
28     Butaritari      KI     80.33   3.0707  172.7902
30           Hilo      US     76.73  19.7297 -155.0900
31         Lompoc      US     82.02  34.6391 -120.4579

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Khatanga,RU,81.86,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
9,Pangai,TO,78.91,-19.8000,-174.3500,Ha'apai Beach Resort
13,Cockburn Town,TC,82.35,21.4612,-71.1419,Osprey Beach Hotel
14,Kununurra,AU,80.58,-15.7667,128.7333,Hotel Kununurra
22,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Tondano,ID,77.09,1.3038,124.9112,Villa Bella
26,Aklavik,CA,76.03,68.2191,-135.0107,Aklavik Inn
28,Butaritari,KI,80.33,3.0707,172.7902,Isles Sunset Lodge
30,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
31,Lompoc,US,82.02,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [54]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))