## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,716,Bluff,NZ,46.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,719,Busselton,AU,50.04,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,727,Qaanaaq,GL,41.27,broken clouds,77.4840,-69.3632,Qaanaaq Hotel
3,729,Anadyr,RU,52.30,scattered clouds,64.7500,177.4833,"Гостиница ""Анадырь"""
4,732,Tuktoyaktuk,CA,49.24,overcast clouds,69.4541,-133.0374,End of The Road Ltd.

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Descrition</dt><dd>{Description} 
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
# 4b. Display the figure
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Mar Del Plata"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Mar Del Plata"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Rawson"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Rio Gallegos"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Punta Arenas"]

In [16]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
72,980,Mar Del Plata,AR,43.09,fog,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [23]:
start

(-38.0023, -57.5575)

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1,stop2,stop3]
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints, travel_mode= 'WALKING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,980,Mar Del Plata,AR,43.09,fog,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,758,Rawson,AR,55.38,few clouds,-43.3002,-65.1023,Hosteria Sampedro
2,1161,Rio Gallegos,AR,42.85,clear sky,-51.6226,-69.2181,Hotel Santa Cruz
3,747,Punta Arenas,CL,41.11,scattered clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Descrition</dt><dd>{Description} 
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(start), zoom_level=5)
itinerary = gmaps.directions_layer(start, end, waypoints, travel_mode='WALKING', show_markers=False)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(itinerary)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))